@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.16rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #ffffff;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
  -webkit-justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ffffff;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ffffff;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
/* Headers*/
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: none;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto!important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: contrast(currentColor, #000000, #ffffff, 30%);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rod2fDq1Tm {
  background: #ffffff;
  padding-top: 45px;
  padding-bottom: 30px;
}
.cid-rod2fDq1Tm .image-block {
  margin: auto;
}
.cid-rod2fDq1Tm figcaption {
  position: relative;
}
.cid-rod2fDq1Tm figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rod2fDq1Tm .image-block {
    width: 100% !important;
  }
}
.cid-rod2ssLNWK {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rod2ssLNWK .mbr-text {
  color: #767676;
}
.cid-rod2ssLNWK .mbr-text p {
  background: #ffffff;
}
.cid-rod2ssLNWK .mbr-text P {
  color: #232323;
}
.cid-rod0WAYGXC {
  background-image: url("../../../assets/images/2-1680x900.png");
}
.cid-roc1GBrMOD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-roc1GBrMOD h2 {
  text-align: left;
}
.cid-roc1GBrMOD h4 {
  text-align: left;
  font-weight: 500;
}
.cid-roc1GBrMOD p {
  color: #767676;
  text-align: left;
}
.cid-roc1GBrMOD .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-roc1GBrMOD .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-roc1GBrMOD .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-roc1GBrMOD .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-roc1GBrMOD .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-roc1GBrMOD .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-roc1GBrMOD .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-roc1GBrMOD .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-roc1GBrMOD .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-roc1GBrMOD .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
@media (max-width: 300px) {
  .cid-roc1GBrMOD .card-img span {
    font-size: 40px !important;
  }
}
.cid-roc1GBrMOD P {
  color: #232323;
}
.cid-roc3s3ULmD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-roc3s3ULmD h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-roc3s3ULmD p {
  color: #767676;
  text-align: left;
}
.cid-roc3s3ULmD .card-box {
  padding-top: 2rem;
}
.cid-roc3s3ULmD .card-wrapper {
  height: 100%;
}
.cid-roc3s3ULmD .card-title DIV {
  text-align: center;
}
.cid-roc3s3ULmD .card-title {
  text-align: center;
}
.cid-roc5U5ofTE {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-roc5U5ofTE .content-slider {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-roc5U5ofTE .modal-body .close {
  background: #1b1b1b;
}
.cid-roc5U5ofTE .modal-body .close span {
  font-style: normal;
}
.cid-roc5U5ofTE .carousel-inner > .active,
.cid-roc5U5ofTE .carousel-inner > .next,
.cid-roc5U5ofTE .carousel-inner > .prev {
  display: -webkit-flex;
}
.cid-roc5U5ofTE .carousel-control .icon-next,
.cid-roc5U5ofTE .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-roc5U5ofTE .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-roc5U5ofTE .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-roc5U5ofTE .content-slider-wrap {
    width: 100%!important;
  }
}
.cid-roc5U5ofTE .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-roc5U5ofTE .boxed-slider > div {
  position: relative;
}
.cid-roc5U5ofTE .container img {
  width: 100%;
}
.cid-roc5U5ofTE .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-roc5U5ofTE .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-roc5U5ofTE .mbr-table-cell {
  padding: 0;
}
.cid-roc5U5ofTE .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-roc5U5ofTE .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-roc5U5ofTE .mbr-overlay {
  z-index: 1;
}
.cid-roc5U5ofTE .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-roc5U5ofTE .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-roc5U5ofTE .carousel-item .container {
    width: 100%;
  }
}
.cid-roc5U5ofTE .carousel-item-next.carousel-item-left,
.cid-roc5U5ofTE .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-roc5U5ofTE .active.carousel-item-right,
.cid-roc5U5ofTE .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-roc5U5ofTE .active.carousel-item-left,
.cid-roc5U5ofTE .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-roc5U5ofTE .mbr-slider .carousel-control {
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-roc5U5ofTE .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-roc5U5ofTE .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-roc5U5ofTE .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .cid-roc5U5ofTE .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-roc5U5ofTE .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-roc5U5ofTE .mbr-slider .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-roc5U5ofTE .mbr-slider .carousel-indicators li.active,
.cid-roc5U5ofTE .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-roc5U5ofTE .mbr-slider .carousel-indicators li::after,
.cid-roc5U5ofTE .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-roc5U5ofTE .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-roc5U5ofTE .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-roc5U5ofTE .mbr-slider > .container img {
  width: 100%;
}
.cid-roc5U5ofTE .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-roc5U5ofTE .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-roc5U5ofTE .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-roc5U5ofTE .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-roc5U5ofTE .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-roc5U5ofTE .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-roc5U5ofTE .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-roc5U5ofTE .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-roc5U5ofTE .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-roc5U5ofTE .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-roc5U5ofTE .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-roc5U5ofTE .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-roc5U5ofTE .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-roc5U5ofTE .mbr-slider.slide .container {
  overflow: hidden;
  padding: 0;
}
.cid-roc5U5ofTE .carousel-inner {
  height: 100%;
}
.cid-roc5U5ofTE .slider-fullscreen-image {
  height: 100%;
  background: transparent !important;
}
.cid-roc5U5ofTE .image_wrapper {
  height: 530px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.cid-roc5U5ofTE .image_wrapper img {
  width: auto !important;
  height: 100%;
}
.cid-roc5U5ofTE .carousel-item .container-slide {
  text-align: center;
}
.cid-roc5U5ofTE .content-slider-wrap {
  width: 100%;
}
.cid-roc6R1mnWr {
  padding-top: 135px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-roc6R1mnWr P {
  color: #767676;
}
.cid-roc6R1mnWr .mbr-text,
.cid-roc6R1mnWr .mbr-section-btn {
  color: #232323;
}
.cid-roc7fyxbL1 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-roc7fyxbL1 .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-roc7fyxbL1 .section-text {
  padding: 2rem 0;
}
.cid-roc7fyxbL1 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-roc7fyxbL1 .inner-container {
    width: 100% !important;
  }
}
.cid-roc8aHlmYa {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-roc8aHlmYa h2 {
  text-align: left;
}
.cid-roc8aHlmYa h4 {
  text-align: left;
  font-weight: 500;
}
.cid-roc8aHlmYa p {
  color: #767676;
  text-align: left;
}
.cid-roc8aHlmYa .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-roc8aHlmYa .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-roc8aHlmYa .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-roc8aHlmYa .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-roc8aHlmYa .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-roc8aHlmYa .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-roc8aHlmYa .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-roc8aHlmYa .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-roc8aHlmYa .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-roc8aHlmYa .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
@media (max-width: 300px) {
  .cid-roc8aHlmYa .card-img span {
    font-size: 40px !important;
  }
}
.cid-roc8aHlmYa .mbr-text {
  color: #232323;
}
.cid-roc8aHlmYa P {
  color: #232323;
  text-align: left;
}
.cid-roc8aHlmYa H4 {
  text-align: center;
}
.cid-roc9QxUWAw {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/stenolazru-8-1024x683.jpg");
}
.cid-roc9QxUWAw P {
  color: #767676;
}
.cid-roc9QxUWAw .mbr-text,
.cid-roc9QxUWAw .mbr-section-btn {
  color: #ffffff;
}
.cid-rocMxagl4M {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rocMxagl4M .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-rocMxagl4M .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-rocMxagl4M .mbr-text {
  color: #232323;
  text-align: left;
}
.cid-rof4gTvlPM {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rof4gTvlPM .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-rof4gTvlPM .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #ffffff;
  margin-right: 2rem;
  transition: all .4s;
}
.cid-rof4gTvlPM .timeline-text-content p {
  margin-bottom: 0;
}
.cid-rof4gTvlPM .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-rof4gTvlPM .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-rof4gTvlPM .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-rof4gTvlPM .reverse .timeline-text-content {
  margin-left: 2rem;
  margin-right: 0;
}
.cid-rof4gTvlPM .iconsBackground {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffffff;
  top: 20px;
  margin-left: -30px;
}
.cid-rof4gTvlPM .mbr-iconfont {
  position: absolute;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  z-index: 3;
  top: 13px;
  left: 13px;
}
.cid-rof4gTvlPM .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #ffffff;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-rof4gTvlPM .iconsBackground {
    left: 1.5rem;
  }
  .cid-rof4gTvlPM .separline:before {
    left: calc(1.5rem - 1px);
  }
  .cid-rof4gTvlPM .timeline-text-content {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
  .cid-rof4gTvlPM .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-rof4gTvlPM .mbr-timeline-title {
  color: #ffffff;
}
.cid-rof4gTvlPM .mbr-timeline-text {
  text-align: right;
}
.cid-rocmAmuPCK {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rocmAmuPCK .card-box {
  padding: 0 2rem;
}
.cid-rocmAmuPCK .mbr-section-btn {
  padding-top: 1rem;
}
.cid-rocmAmuPCK .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-rocmAmuPCK h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-rocmAmuPCK p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-rocmAmuPCK .mbr-text {
  color: #767676;
}
.cid-rocmAmuPCK .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rocmAmuPCK .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rocmAmuPCK .card-title {
  text-align: center;
}
.cid-rocmMs3Gto {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rocmMs3Gto .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rocmMs3Gto .section-text {
  padding: 2rem 0;
}
.cid-rocmMs3Gto .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rocmMs3Gto .inner-container {
    width: 100% !important;
  }
}
.cid-rocn8qCIgr {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rocn8qCIgr h2 {
  text-align: left;
}
.cid-rocn8qCIgr h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rocn8qCIgr p {
  color: #767676;
  text-align: left;
}
.cid-rocn8qCIgr .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rocn8qCIgr .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rocn8qCIgr .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rocn8qCIgr .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rocn8qCIgr .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rocn8qCIgr .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rocn8qCIgr .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-rocn8qCIgr .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-rocn8qCIgr .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-rocn8qCIgr .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
@media (max-width: 300px) {
  .cid-rocn8qCIgr .card-img span {
    font-size: 40px !important;
  }
}
.cid-rocn8qCIgr .mbr-text {
  color: #232323;
}
.cid-rocn8qCIgr P {
  color: #232323;
  text-align: left;
}
.cid-rocn8qCIgr H4 {
  text-align: center;
}
.cid-rocpaqsUA3 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rocpaqsUA3 .content-slider {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rocpaqsUA3 .modal-body .close {
  background: #1b1b1b;
}
.cid-rocpaqsUA3 .modal-body .close span {
  font-style: normal;
}
.cid-rocpaqsUA3 .carousel-inner > .active,
.cid-rocpaqsUA3 .carousel-inner > .next,
.cid-rocpaqsUA3 .carousel-inner > .prev {
  display: -webkit-flex;
}
.cid-rocpaqsUA3 .carousel-control .icon-next,
.cid-rocpaqsUA3 .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rocpaqsUA3 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rocpaqsUA3 .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-rocpaqsUA3 .content-slider-wrap {
    width: 100%!important;
  }
}
.cid-rocpaqsUA3 .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-rocpaqsUA3 .boxed-slider > div {
  position: relative;
}
.cid-rocpaqsUA3 .container img {
  width: 100%;
}
.cid-rocpaqsUA3 .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-rocpaqsUA3 .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rocpaqsUA3 .mbr-table-cell {
  padding: 0;
}
.cid-rocpaqsUA3 .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-rocpaqsUA3 .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-rocpaqsUA3 .mbr-overlay {
  z-index: 1;
}
.cid-rocpaqsUA3 .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rocpaqsUA3 .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-rocpaqsUA3 .carousel-item .container {
    width: 100%;
  }
}
.cid-rocpaqsUA3 .carousel-item-next.carousel-item-left,
.cid-rocpaqsUA3 .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-rocpaqsUA3 .active.carousel-item-right,
.cid-rocpaqsUA3 .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-rocpaqsUA3 .active.carousel-item-left,
.cid-rocpaqsUA3 .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-rocpaqsUA3 .mbr-slider .carousel-control {
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-rocpaqsUA3 .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rocpaqsUA3 .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rocpaqsUA3 .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .cid-rocpaqsUA3 .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-rocpaqsUA3 .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-rocpaqsUA3 .mbr-slider .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-rocpaqsUA3 .mbr-slider .carousel-indicators li.active,
.cid-rocpaqsUA3 .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-rocpaqsUA3 .mbr-slider .carousel-indicators li::after,
.cid-rocpaqsUA3 .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-rocpaqsUA3 .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-rocpaqsUA3 .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-rocpaqsUA3 .mbr-slider > .container img {
  width: 100%;
}
.cid-rocpaqsUA3 .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-rocpaqsUA3 .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-rocpaqsUA3 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rocpaqsUA3 .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rocpaqsUA3 .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-rocpaqsUA3 .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-rocpaqsUA3 .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-rocpaqsUA3 .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-rocpaqsUA3 .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-rocpaqsUA3 .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rocpaqsUA3 .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-rocpaqsUA3 .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-rocpaqsUA3 .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-rocpaqsUA3 .mbr-slider.slide .container {
  overflow: hidden;
  padding: 0;
}
.cid-rocpaqsUA3 .carousel-inner {
  height: 100%;
}
.cid-rocpaqsUA3 .slider-fullscreen-image {
  height: 100%;
  background: transparent !important;
}
.cid-rocpaqsUA3 .image_wrapper {
  height: 540px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.cid-rocpaqsUA3 .image_wrapper img {
  width: auto !important;
  height: 100%;
}
.cid-rocpaqsUA3 .carousel-item .container-slide {
  text-align: center;
}
.cid-rocpaqsUA3 .content-slider-wrap {
  width: 100%;
}
.cid-rocqaXTkRp {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-rocqaXTkRp .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rocqaXTkRp .video-block {
    width: 100% !important;
  }
}
.cid-rocqG9Wymr {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/photo-1200x741.jpg");
}
.cid-rocqG9Wymr P {
  color: #767676;
}
.cid-rocqG9Wymr .mbr-text,
.cid-rocqG9Wymr .mbr-section-btn {
  color: #ffffff;
}
.cid-rocSqHFQ2o {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rocSqHFQ2o .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-rocSqHFQ2o .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-rocSqHFQ2o .mbr-text {
  color: #232323;
  text-align: left;
}
.cid-rof5TGoGqD {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rof5TGoGqD .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-rof5TGoGqD .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #ffffff;
  margin-right: 2rem;
  transition: all .4s;
}
.cid-rof5TGoGqD .timeline-text-content p {
  margin-bottom: 0;
}
.cid-rof5TGoGqD .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-rof5TGoGqD .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-rof5TGoGqD .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-rof5TGoGqD .reverse .timeline-text-content {
  margin-left: 2rem;
  margin-right: 0;
}
.cid-rof5TGoGqD .iconsBackground {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffffff;
  top: 20px;
  margin-left: -30px;
}
.cid-rof5TGoGqD .mbr-iconfont {
  position: absolute;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  z-index: 3;
  top: 13px;
  left: 13px;
}
.cid-rof5TGoGqD .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #ffffff;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-rof5TGoGqD .iconsBackground {
    left: 1.5rem;
  }
  .cid-rof5TGoGqD .separline:before {
    left: calc(1.5rem - 1px);
  }
  .cid-rof5TGoGqD .timeline-text-content {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
  .cid-rof5TGoGqD .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-rof5TGoGqD .mbr-timeline-title {
  color: #ffffff;
}
.cid-rof5TGoGqD .mbr-timeline-text {
  text-align: right;
}
.cid-rocwkCUDGG {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rocwkCUDGG .card-box {
  padding: 0 2rem;
}
.cid-rocwkCUDGG .mbr-section-btn {
  padding-top: 1rem;
}
.cid-rocwkCUDGG .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-rocwkCUDGG h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-rocwkCUDGG p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-rocwkCUDGG .mbr-text {
  color: #767676;
}
.cid-rocwkCUDGG .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rocwkCUDGG .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rocwkCUDGG .card-title {
  text-align: center;
}
.cid-rocrq7aEFy {
  background-image: url("../../../assets/images/1680x900.png");
}
.cid-rocrq7aEFy .icons-media-container {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4rem;
}
.cid-rocrq7aEFy .icons-media-container .mbr-iconfont {
  font-size: 96px;
  color: #ffffff;
}
.cid-rocrq7aEFy .icons-media-container .icon-block {
  padding-bottom: 1rem;
}
.cid-rocrq7aEFy .mbr-text {
  color: #ffffff;
}
.cid-rocrq7aEFy .card {
  padding-bottom: 1.5rem;
}
.cid-rocrq7aEFy H5 {
  text-align: center;
}
.cid-rocSD66Cp6 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rocSD66Cp6 .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-rocSD66Cp6 .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-rocSD66Cp6 .mbr-text {
  color: #232323;
  text-align: left;
}
.cid-rof6eGeuvY {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rof6eGeuvY .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-rof6eGeuvY .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #ffffff;
  margin-right: 2rem;
  transition: all .4s;
}
.cid-rof6eGeuvY .timeline-text-content p {
  margin-bottom: 0;
}
.cid-rof6eGeuvY .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-rof6eGeuvY .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-rof6eGeuvY .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-rof6eGeuvY .reverse .timeline-text-content {
  margin-left: 2rem;
  margin-right: 0;
}
.cid-rof6eGeuvY .iconsBackground {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffffff;
  top: 20px;
  margin-left: -30px;
}
.cid-rof6eGeuvY .mbr-iconfont {
  position: absolute;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  z-index: 3;
  top: 13px;
  left: 13px;
}
.cid-rof6eGeuvY .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #ffffff;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-rof6eGeuvY .iconsBackground {
    left: 1.5rem;
  }
  .cid-rof6eGeuvY .separline:before {
    left: calc(1.5rem - 1px);
  }
  .cid-rof6eGeuvY .timeline-text-content {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
  .cid-rof6eGeuvY .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-rof6eGeuvY .mbr-timeline-title {
  color: #ffffff;
}
.cid-rof6eGeuvY .mbr-timeline-text {
  text-align: right;
}
